@model VIS.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Vehicle</legend>

    <div class="display-label">Model</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">YearOfMake</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YearOfMake)
    </div>

    <div class="display-label">Color</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Color)
    </div>

    <div class="display-label">PurchaseDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PurchaseDate)
    </div>

    <div class="display-label">Cost</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cost)
    </div>

    <div class="display-label">Dealer</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Dealer)
    </div>

    <div class="display-label">FuelType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuelType)
    </div>

    <div class="display-label">RegistrationNo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationNo)
    </div>

    <div class="display-label">RegistrationDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationDate)
    </div>

    <div class="display-label">RoadTax</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RoadTax)
    </div>

    <div class="display-label">ChasisNo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChasisNo)
    </div>

    <div class="display-label">InspectionDue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InspectionDue)
    </div>

    <div class="display-label">VehicleStatus</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleStatus)
    </div>

    <div class="display-label">PolicyType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PolicyType)
    </div>

    <div class="display-label">Policy</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Policy)
    </div>

    <div class="display-label">PolicyNumber</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PolicyNumber)
    </div>

    <div class="display-label">VehicleValue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VehicleValue)
    </div>

    <div class="display-label">Amount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>

    <div class="display-label">PolicyDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PolicyDate)
    </div>

    <div class="display-label">PolicyExpireDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PolicyExpireDate)
    </div>

    <div class="display-label">InsuranceAgency</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InsuranceAgency.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.VehicleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
