@model VIS.Models.InsuranceAgency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Insurance Agency</legend>

    <div class="display-label">
        <b>@Html.LabelFor(model => model.Name)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        <b>@Html.LabelFor(model => model.Address)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
        <b>@Html.LabelFor(model => model.Zipcode)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zipcode)
    </div>

    <div class="display-label">
        <b>@Html.LabelFor(model => model.City)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
        <b>@Html.LabelFor(model => model.Phone)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>

    <div class="display-label">
        <b>@Html.LabelFor(model => model.Mail)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mail)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.InsuranceAgencyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
